<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>UN NOUVEAU COMMENTAIRE. ALERT ENVOYEE A TOUS LES MEMBRES DU GROUPE</h1>

    <h1>Salut <%= first_name %>  !</h1>
    <p>
      <%= user_who_commented %> a laissé un commentaire!
    </p>
    <p>
     Pour voir son contenu, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur peerclub.io !  </p>
  </body>
</html>