<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Un nouveau utilisateur vient de s'inscrire à ton groupe </h1>

    <h1>Salut <%= first_name %> !</h1>
    <p>
      <%= user_who_subscribed %> s'est inscrit à ton groupe!
    </p>
    <p> À très vite sur peerclub.io ! </p>
   
   
  </body>
</html>