<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci pour ton inscription à un groupe </h1>

    <h1>Salut <%= first_name %> </h1>
    <p>
      Tu t'es inscrit dans le groupe suivant : <%= group_subscribed %>.
    </p>
    <p>
      Pour accéder à ton compte, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur peerclub.io ! </p>
  </body>
</html>