<% @group.comments.each_with_index do |comment, index| %>
<div class="row mb-2">
  <div class="col-8 offset-2">
    <div class="card card-white post">
      <div class="post-heading">
        <div class="float-left image">
          <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
        </div>
        <div class="float-left meta">
          <div class="title h5">
            <b> <%= comment.user.first_name %></b>
          </div>
          <h6 class="text-muted time"><%=comment.created_at%></h6>
          
        </div>
      </div>
      <div class="post-description">
        <p><%= comment.content %></p>
      </div>
    </div>
  </div>

</div>
<%end%>

<%if @group.comments.empty?%>
<p>Il n'y a pas de commentaires.</p>
<% end %>
​

