<p id="notice"><%= notice %></p>
<%= render "layouts/header_group_index" %>
<% unless @groups_found.nil? %>
  <% unless @groups_found.count == Group.all.count %><%= render "results_groups" %><%end%>
<% end %>
<%= render "last_groups" %>
