<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="container p-5 mb-5">
      <h2 class="text-center my-5" id="ici">GROUPS</h2>
      <h3>Wanna create ur's ?</h3>
      <%= link_to 'New Group', new_group_path %>
      <div class="row">
        <%= render "last_groups" %>
      </div>
    </div>
  </div>
</div>

