<div class="container-fluid whychoose pb-5">
  
  <!-- TITLE SECTION -->
  <div class="container pt-5 pb-3 text-center">
    <h2 class="pt-3">Stay motivated</h2>
    <p class="sub-section">We think that you have more chances to stay motivated when you collaborate with other people.</p>
  </div>
  <!-- END TITLE SECTION -->


  <div class="container">
<div class="row mt-5 mb-5">
    <div class="col-md-4 col-sm-12 mt-3">
    <div class="why">
      <i class="fab fa-angellist fs-3 mb-4 col" aria-hidden="true"></i>
      <h3>Stick to your goals</h3>
      <p>Quit procrastinating, and never give up again. It has been proven that you have 80% chance to succeed when you are part of a group work.</p>
    </div>
</div>

    <div class="col-md-4 col-sm-12 mt-3">
    <div class="why">
      <i class="fab fa-angellist fs-3 mb-4 col" aria-hidden="true"></i>
      <h3>Find great teammates</h3>
      <p>Meet great people, interested by the same Udemy courses as you.</p>
    </div>
    </div>
    <div class="col-md-4 col-sm-12 mt-3">
    <div class="why">
      <i class="fab fa-angellist fs-3 mb-4 col" aria-hidden="true"></i>
      <h3>Learn efficently</h3>
      <p>Ask questions directly to your group, think together and train yourself with other motivated persons.</p>
    </div>
    </div>
  </div>
</div>


</div>

  <!-- CTA -->
  <div class="container pt-5 text-center interline-cta">
  <%= link_to 'Start Coding >', groups_path, class:"btn btn-primary text-center" %>
  </div>
  <!-- END CTA -->