body {
  font-family: 'Roboto', sans-serif !important;
}
.navbar {
  padding: 1rem !important;
}

.navbar-shadow {
  -webkit-box-shadow: 0px -2px 15px 1px rgba(0,0,0,0.30); 
  box-shadow: 0px -2px 15px 1px rgba(0,0,0,0.30);
}

.card-shadow {
  -webkit-box-shadow: 0px -2px 15px 1px rgba(0,0,0,0.15); 
  box-shadow: 0px -2px 15px 1px rgba(0,0,0,0.15);
}

.card {
  border:0px !important;
  height: 93% !important;
}

.avatar-zone{
  min-height: 40px;
}

.card-title {
  font-size:1.3rem !important;
  margin-bottom: 0.25rem !important;
}

h2 {
  font-weight: bold !important;
  font-size: 2.3rem !important;
  color: rgba(75,75,75,1) !important;
}

.sub-section {
  font-weight: lighter;
  font-size: 1rem;
  color: rgba(75,75,75,1);
}

.card-block {
  padding: 1rem;
  padding-top: 0.5rem;

}

.card-block a {
    text-decoration: none;
  color:#000;
}

.card-block a:hover {
  text-decoration: none;
  color:rgba(62,48,142,1);
}

.jumbo {
  background-image:url("jumbo_bg.png");
  background-size: cover;
  min-height: 500px;
}

.head {
  background-image:url("jumbo_bg.png");
  background-size: cover;
  min-height: 200px;
}

.searchbar{
  margin-top: -33px;
}

.text-green {
  color: green;
}
.text-orange {
  color: orange;
}
.text-red {
  color: red;
}

.container-why {
}

.whychoose{
  background-color: rgba(246,248,250,1);
  min-height: 400px;

}

.why {
  background-color: #fff;
  padding: 3rem !important;
  margin: 1rem;
  max-width: 30%;

}

.why p {
  line-height: 28px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(152,152,152,1);
}

.fs-3 {
  font-size: 3rem;
}

.jumbo-head{

  padding-top:8rem;
  max-width: 1140px;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.471));
  color: rgba(255,255,255,1);
}

.punchline-jumbo {
  line-height: 67px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

.header-head{
  padding-top:5rem;
  max-width: 1140px;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.471));
  color: rgba(255,255,255,1);
}

.punchline-head {
  line-height: 67px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
}
.subtitle {
  font-style: normal;
  font-weight: lighter;
  font-size: 25px;
}

.btn-primary:hover {
  color: #fff !important;
  background-color:rgb(47, 36, 109) !important;
  border-color:rgb(47, 36, 109) !important;
}

.btn-primary {
  font-weight: bold !important;
  color: #fff !important;
  background-color:rgba(62,48,142,1) !important;
  border-color:rgba(62,48,142,1) !important;
  text-transform: uppercase;
}

.btn {
  padding: 0.8rem 1rem !important;
}

.interline-cta {
  margin-top: -72px;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.left_field{
  max-width:20rem;
}

.right_field{
  max-width:20rem;
}

.hidden {
  display:none;
}